HOST=0.0.0.0
PORT=3000

PGHOST=localhost
PGPORT=5432
PGDATABASE=gis
PGUSER=postgres
PGPASSWORD=postgres

POSTGIS_SCHEMA=public
POSTGIS_TABLE=my_postgis_table
GEOMETRY_COLUMN=geom

OUTPUT_DIR=./output
OUTPUT_FILENAME=tiles.pmtiles
LAYER_NAME=postgis_layer

TIPPECANOE_BIN=tippecanoe
PSQL_BIN=psql
TIPPECANOE_MIN_ZOOM=5
TIPPECANOE_MAX_ZOOM=17
TIPPECANOE_EXTRA_ARGS=
